# Подготовка. Изучение данных

In [1]:
import pandas as pd
from IPython.display import HTML, display

In [2]:
pd.set_option('display.max_columns', None)

## Сессии

In [3]:
# датафрейм сессий
# Одна строка = один визит на сайт.
sessions_df = pd.read_csv('data/ga_sessions.csv')
sessions_df

C:\Users\Nik\AppData\Local\Temp\ipykernel_6816\755692628.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  sessions_df = pd.read_csv('data/ga_sessions.csv')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860037,9055415581448263752.1640159305.1640159305,2108378238.164016,2021-12-22,10:48:25,1,BHcvLfOaCWvWTykYqHVe,cpc,NaN,NaN,VlqBmecIOXWjCWUmQkLd,desktop,Windows,NaN,NaN,1920x1080,Chrome,Russia,Moscow
1860038,9055421130527858185.1622007305.1622007305,2108379530.162201,2021-05-26,08:00:00,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Apple,NaN,390x844,Safari,Russia,Stavropol
1860039,9055422955903931195.1636979515.1636979515,2108379955.163697,2021-11-15,15:31:55,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,iOS,Apple,NaN,375x667,Safari,Russia,Moscow
1860040,905543020766873816.1638189404.1638189404,210838164.163819,2021-11-29,15:36:44,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Xiaomi,NaN,393x851,Chrome,Russia,Chelyabinsk
1860041,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow

In [4]:
sessions_df.shape

(1860042, 18)

In [5]:
sessions_df.columns

Index(['session_id', 'client_id', 'visit_date', 'visit_time', 'visit_number',
       'utm_source', 'utm_medium', 'utm_campaign', 'utm_adcontent',
       'utm_keyword', 'device_category', 'device_os', 'device_brand',
       'device_model', 'device_screen_resolution', 'device_browser',
       'geo_country', 'geo_city'],
      dtype='object')

In [6]:
sessions_df.describe(include='all')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
count,1860042,1.860042e+06,1860042,1860042,1.860042e+06,1859945,1860042,1640439,1524427,777981,1860042,789904,1492864,16338,1860042,1860042,1860042,1860042
unique,1860042,1.391717e+06,226,85318,NaN,293,56,412,286,1219,3,13,205,104,5039,57,166,2548
top,9055434745589932991.1637753792.1637753792,1.750498e+09,2021-05-24,12:00:00,NaN,ZpYIoDJMcFzVoPFsHGJL,banner,LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Apple,AuMdmADEIoPXiWpTsBEj,414x896,Chrome,Russia,Moscow
freq,1,4.620000e+02,39453,61067,NaN,578290,552272,463481,1006599,506819,1474871,464054,551088,9778,169090,1013436,1800565,805329
mean,NaN,NaN,NaN,NaN,2.712804e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.182907e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.640000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sessions_df.dtypes

session_id                  object
client_id                   object
visit_date                  object
visit_time                  object
visit_number                 int64
utm_source                  object
utm_medium                  object
utm_campaign                object
utm_adcontent               object
utm_keyword                 object
device_category             object
device_os                   object
device_brand                object
device_model                object
device_screen_resolution    object
device_browser              object
geo_country                 object
geo_city                    object
dtype: object

## События

In [8]:
# датафрейм событий
# Одна строка = одно событие в рамках одного визита на сайтv
hits_df = pd.read_csv('data/ga_hits.csv')
hits_df

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15726465,6866159858916559617.1640270865.1640270865,2021-12-23,810589.0,43,event,NaN,sberauto.com/cars/all/toyota/fortuner/24cb5af2...,quiz,quiz_show,NaN,NaN
15726466,7310304587364460692.1640261783.1640261783,2021-12-23,904927.0,40,event,NaN,sberauto.com/cars/all/mercedes-benz/gla-klasse...,quiz,quiz_show,NaN,NaN
15726467,8013702685784312179.1640270195.1640270195,2021-12-23,2172865.0,43,event,NaN,sberauto.com/cars/all/toyota/alphard/2ebe4871?...,quiz,quiz_show,NaN,NaN
15726468,8021505554734405918.1640257821.1640257821,2021-12-23,713325.0,45,event,NaN,sberauto.com/cars/all/bmw/x3/6a660f0a?rental_p...,quiz,quiz_show,NaN,NaN
15726469,1569014437485249865.1640269129.1640269129,2021-12-23,742820.0,46,event,NaN,sberauto.com/cars/all/bmw/7-serii/399ac530?utm...,quiz,quiz_show,NaN,NaN

In [9]:
hits_df.shape

(15726470, 11)

In [10]:
hits_df.columns

Index(['session_id', 'hit_date', 'hit_time', 'hit_number', 'hit_type',
       'hit_referer', 'hit_page_path', 'event_category', 'event_action',
       'event_label', 'event_value'],
      dtype='object')

In [11]:
hits_df.describe(include='all')

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
count,15726470,15726470,6.566148e+06,1.572647e+07,15726470,9451666,15726470,15726470,15726470,11966286,0.0
unique,1734610,226,NaN,NaN,1,37873,342715,52,230,39825,NaN
top,5442565791571325612.1632449195.1632449195,2021-05-24,NaN,NaN,event,HbolMJUevblAbkHClEQa,podpiska.sberauto.com/,card_web,view_card,KclpemfoHstknWHFiLit,NaN
freq,768,513035,NaN,NaN,15726470,8879187,2793639,7456998,3558985,6505447,NaN
mean,NaN,NaN,2.091050e+05,2.356715e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,4.032110e+05,2.887713e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2.412000e+04,7.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,8.994100e+04,1.500000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2.195352e+05,2.900000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,1.315688e+07,5.000000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
hits_df.dtypes

session_id         object
hit_date           object
hit_time          float64
hit_number          int64
hit_type           object
hit_referer        object
hit_page_path      object
event_category     object
event_action       object
event_label        object
event_value       float64
dtype: object

 ## Объединяем данные

In [13]:
merged_df = sessions_df.merge(hits_df, how='inner', on='session_id')
merged_df

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust,2021-11-24,3665.0,3,event,NaN,podpiska.sberauto.com/,sub_page_view,sub_landing,NaN,NaN
1,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust,2021-11-24,46592.0,4,event,NaN,podpiska.sberauto.com/,sub_button_click,sub_view_cars_click,vodKSlUobUWTVlgsJqdI,NaN
2,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow,2021-11-14,921.0,3,event,NaN,podpiska.sberauto.com/,sub_page_view,sub_landing,NaN,NaN
3,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk,2021-12-28,84155.0,10,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,search_form,search_form_region,KWTCzSIXzoqUWjfUQMgP,NaN
4,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk,2021-12-28,102979.0,13,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,search_form,search_form_region,CBqnBQaKoQUyWJhLcxxN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15685214,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,33010.0,11,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN
15685215,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,34694.0,16,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_new_card,NaN,NaN
15685216,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,250.0,3,event,NaN,sberauto.com/cars/all/mercedes-benz/e-klasse/d...,card_web,view_card,NaN,NaN
15685217,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,33533.0,14,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN
15685218,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,34694.0,17,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN

## Очистка данных

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15685219 entries, 0 to 15685218
Data columns (total 28 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_source                object
 6   utm_medium                object
 7   utm_campaign              object
 8   utm_adcontent             object
 9   utm_keyword               object
 10  device_category           object
 11  device_os                 object
 12  device_brand              object
 13  device_model              object
 14  device_screen_resolution  object
 15  device_browser            object
 16  geo_country               object
 17  geo_city                  object
 18  hit_date                  object
 19  hit_time                  float64
 20  hit_number                int64
 21  hit_type                  object
 22  hit_referer               object
 23  hit_page_path             object
 24  event_category            object
 25  event_action              object
 26  event_label               object
 27  event_value               float64
dtypes: float64(2), int64(2), object(24)
memory usage: 3.4+ GB

In [15]:
def print_columns_with_skipped_values(df):
    skipped_values_in_percents = ((df.isna().sum() / len(df)) * 100).sort_values()
    display(skipped_values_in_percents[skipped_values_in_percents > 0.0])
    return skipped_values_in_percents[skipped_values_in_percents > 0.0].index.tolist()

In [16]:
list_columns_with_skipped_values = print_columns_with_skipped_values(merged_df)

utm_source         0.004463
utm_campaign      14.018759
utm_adcontent     18.057880
event_label       23.765572
device_brand      25.156646
hit_referer       39.753975
device_os         58.388614
hit_time          58.400224
utm_keyword       58.684721
device_model      99.220368
event_value      100.000000
dtype: float64

In [17]:
list_columns_with_skipped_values

['utm_source',
 'utm_campaign',
 'utm_adcontent',
 'event_label',
 'device_brand',
 'hit_referer',
 'device_os',
 'hit_time',
 'utm_keyword',
 'device_model',
 'event_value']

In [18]:
for column in list_columns_with_skipped_values:
    display(f'column ----------------------- {column}')
    display(f'unique num: {merged_df[column].nunique()}')
    display(merged_df[column].value_counts())

'column ----------------------- utm_source'

'unique num: 280'

ZpYIoDJMcFzVoPFsHGJL    5151702
fDLlAcSmythWSCVMvqvL    3250926
kjsLglQLzykiRbcDiGcD    1772431
bByPQxmDaMXgpHeypKSM    1341803
BHcvLfOaCWvWTykYqHVe    1231071
                         ...
WRHPhoRKhKxaenRCLBfo          1
dIOSwfBKYOHWMhxrecPD          1
SHJiZmjiDXmvjHwbFkEu          1
JdKLSdewxFqMMgKKiXBO          1
XGOsamgBesNClOIokPJY          1
Name: utm_source, Length: 280, dtype: int64

'column ----------------------- utm_campaign'

'unique num: 406'

LTuZkdKfxRGVceoWkVyg    5166521
LEoPHuyFvzoNfnzGgfcd    3177265
gecBYcKZCPMcVYdSSzKP    1138547
FTjNLDyTrXaWYgZymFkV     750959
sbJRYgVfvcnqKJNDDYIr     184020
                         ...
VbwhIlTuTQfiffXsGgWV          1
ZHCJROlbqnkXTqIuVxnm          1
NUYvxgBEIYqMlnpeDTIM          1
RkpOyeEPgcMBSDuHLQcj          1
cXxuwXPoQCvAXPHpFcZl          1
Name: utm_campaign, Length: 406, dtype: int64

'column ----------------------- utm_adcontent'

'unique num: 280'

JNHcPlZPxEMWDnRiyoBf    9647665
vCIpmpaGBnIQhyYNkXqp    1806637
xhoenQgDQsgfEPYNPwKO     345071
PkybGvWbaqORmxjNunqZ     199457
LLfCasrxQzJIyuldcuWy     176169
                         ...
gQEnaeQmOHisHSTEyzhp          1
vXARZToVDdvNhALiQtvl          1
fiImkyBmzQSeAeQEVCDZ          1
FsyvyvqcdOnQCoOklwfT          1
fBRoTJlPSQvdkRoAJkVN          1
Name: utm_adcontent, Length: 280, dtype: int64

'column ----------------------- event_label'

'unique num: 39777'

KclpemfoHstknWHFiLit    6505347
hAHqGICPFQiPwtzubOzs    1282471
OHfyUfDKdPgBdvelDlfG     626250
pzAKUYdRKNEUXxxBFUPX     358161
ghOrjqpgskpGHSFfBBsi     341843
                         ...
LbFJgNlmcIVEIDOREfOR          1
beHQQgixhtOTmJWmIoPG          1
NdoUPlCruduKdjOcuvOj          1
rUdjkWCVjDCiojCqExgI          1
uBAcRvfHRdEGIhzGdXvK          1
Name: event_label, Length: 39777, dtype: int64

'column ----------------------- device_brand'

'unique num: 200'

Apple        4708652
Samsung      2609769
Xiaomi       2071248
Huawei       1370025
Realme        142883
              ...
Smartfren          1
Vodafone           1
Hafury             1
Honeywell          1
Maxvi              1
Name: device_brand, Length: 200, dtype: int64

'column ----------------------- hit_referer'

'unique num: 37826'

HbolMJUevblAbkHClEQa    8879128
FwdMTcXzWAwhtsnMAbhS      91293
sAGDBCdeVPmQPwkVEcIX      53559
GQmOLxANuSeCxCanBpMl      35470
ZeRnFrHdnMmnqraghdGJ      22992
                         ...
SKrCAVFdldNiYqrkxxLt          1
DpQALfPbDcfzqAAEHkyq          1
mmYNGuZGaNPWyBfmpsbF          1
hgrgXynTTzECdtEEJTed          1
OfHBuerAJtSXInkjtmrK          1
Name: hit_referer, Length: 37826, dtype: int64

'column ----------------------- device_os'

'unique num: 13'

Android          3433515
iOS              1735956
Windows          1015524
Macintosh         309734
Linux              30932
(not set)            448
Chrome OS            360
BlackBerry           211
Tizen                 99
Firefox OS            37
Nokia                 12
Windows Phone          7
Samsung                2
Name: device_os, dtype: int64

'column ----------------------- hit_time'

'unique num: 914611'

0.0          40799
1.0          18471
2.0          10074
3.0           6043
4.0           4460
             ...
933947.0         1
483523.0         1
1023246.0        1
1135371.0        1
679353.0         1
Name: hit_time, Length: 914611, dtype: int64

'column ----------------------- utm_keyword'

'unique num: 1192'

puhZPIYqKXeFPaUviSjo    4717082
aXQzDWsJuGXeBXexNHjc     176453
ITfrGJNwVsHBGJMAKoct     138328
UKNBOHebRIIsQRsjNKay     132629
hAmNSZmQkKQKAjZEGlgb      95962
                         ...
pbDudNzVMOgnBNGCXLTy          1
aPqwsNrUDOqqlOPbgStP          1
AWuRIdQALexokAiMRaos          1
MXqmDyetMTICSSitTjWV          1
fcXWTQaKfxbkBkBnzLhK          1
Name: utm_keyword, Length: 1192, dtype: int64

'column ----------------------- device_model'

'unique num: 104'

AuMdmADEIoPXiWpTsBEj    78321
tWBQlsvNfHxRUjaPAfhd     4339
pTgAEPipQxDXCjPrJbHo     3495
cwMJxNXiWUgMUxGiCTPs     3012
tfPZFRbtlzEssBEesRwM     2551
                        ...
qmRODeCJLlmkmwxNYXvp        1
hOhIHYHnDhUlkzDoZJdA        1
dKEqQIppnqmEbdtpiTSB        1
XnjPzKjkHmznVfULanbE        1
foPJGhraIZhogREKtYLR        1
Name: device_model, Length: 104, dtype: int64

'column ----------------------- event_value'

'unique num: 0'

Series([], Name: event_value, dtype: int64)

In [19]:
## удаляем неинформативные колонки и колонки с большим количеством пропусков

In [20]:
merged_df=merged_df.drop(['event_value','utm_keyword', 'hit_referer', 'event_label', 'utm_adcontent', 'utm_campaign', 'utm_source', # неинформативные
                          'hit_time', 'device_os','device_model','device_brand'], axis=1)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15685219 entries, 0 to 15685218
Data columns (total 17 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_medium                object
 6   device_category           object
 7   device_screen_resolution  object
 8   device_browser            object
 9   geo_country               object
 10  geo_city                  object
 11  hit_date                  object
 12  hit_number                int64
 13  hit_type                  object
 14  hit_page_path             object
 15  event_category            object
 16  event_action              object
dtypes: int64(2), object(15)
memory usage: 2.1+ GB

In [21]:
print_columns_with_skipped_values(merged_df)

Series([], dtype: float64)

[]

In [22]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15685219 entries, 0 to 15685218
Data columns (total 17 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_medium                object
 6   device_category           object
 7   device_screen_resolution  object
 8   device_browser            object
 9   geo_country               object
 10  geo_city                  object
 11  hit_date                  object
 12  hit_number                int64
 13  hit_type                  object
 14  hit_page_path             object
 15  event_category            object
 16  event_action              object
dtypes: int64(2), object(15)
memory usage: 2.1+ GB

# TODO: Преобразование данных в категориальные там где можно (см практическая работа 18)