# Подготовка. Изучение данных

In [42]:
import pandas as pd
from IPython.display import HTML, display

In [28]:
pd.set_option('display.max_columns', None)

## Сессии

In [6]:
# датафрейм сессий
# Одна строка = один визит на сайт.
sessions_df = pd.read_csv('data/ga_sessions.csv')
sessions_df

C:\Users\Nik\AppData\Local\Temp\ipykernel_17860\755692628.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  sessions_df = pd.read_csv('data/ga_sessions.csv')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860037,9055415581448263752.1640159305.1640159305,2108378238.164016,2021-12-22,10:48:25,1,BHcvLfOaCWvWTykYqHVe,cpc,NaN,NaN,VlqBmecIOXWjCWUmQkLd,desktop,Windows,NaN,NaN,1920x1080,Chrome,Russia,Moscow
1860038,9055421130527858185.1622007305.1622007305,2108379530.162201,2021-05-26,08:00:00,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Apple,NaN,390x844,Safari,Russia,Stavropol
1860039,9055422955903931195.1636979515.1636979515,2108379955.163697,2021-11-15,15:31:55,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,iOS,Apple,NaN,375x667,Safari,Russia,Moscow
1860040,905543020766873816.1638189404.1638189404,210838164.163819,2021-11-29,15:36:44,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Xiaomi,NaN,393x851,Chrome,Russia,Chelyabinsk
1860041,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow

In [7]:
sessions_df.shape

(1860042, 18)

In [8]:
sessions_df.columns

Index(['session_id', 'client_id', 'visit_date', 'visit_time', 'visit_number',
       'utm_source', 'utm_medium', 'utm_campaign', 'utm_adcontent',
       'utm_keyword', 'device_category', 'device_os', 'device_brand',
       'device_model', 'device_screen_resolution', 'device_browser',
       'geo_country', 'geo_city'],
      dtype='object')

In [9]:
sessions_df.describe(include='all')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
count,1860042,1.860042e+06,1860042,1860042,1.860042e+06,1859945,1860042,1640439,1524427,777981,1860042,789904,1492864,16338,1860042,1860042,1860042,1860042
unique,1860042,1.391717e+06,226,85318,NaN,293,56,412,286,1219,3,13,205,104,5039,57,166,2548
top,9055434745589932991.1637753792.1637753792,1.750498e+09,2021-05-24,12:00:00,NaN,ZpYIoDJMcFzVoPFsHGJL,banner,LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Apple,AuMdmADEIoPXiWpTsBEj,414x896,Chrome,Russia,Moscow
freq,1,4.620000e+02,39453,61067,NaN,578290,552272,463481,1006599,506819,1474871,464054,551088,9778,169090,1013436,1800565,805329
mean,NaN,NaN,NaN,NaN,2.712804e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.182907e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.640000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sessions_df.dtypes

session_id                  object
client_id                   object
visit_date                  object
visit_time                  object
visit_number                 int64
utm_source                  object
utm_medium                  object
utm_campaign                object
utm_adcontent               object
utm_keyword                 object
device_category             object
device_os                   object
device_brand                object
device_model                object
device_screen_resolution    object
device_browser              object
geo_country                 object
geo_city                    object
dtype: object

## События

In [12]:
# датафрейм событий
# Одна строка = одно событие в рамках одного визита на сайтv
hits_df = pd.read_csv('data/ga_hits.csv')
hits_df

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15726465,6866159858916559617.1640270865.1640270865,2021-12-23,810589.0,43,event,NaN,sberauto.com/cars/all/toyota/fortuner/24cb5af2...,quiz,quiz_show,NaN,NaN
15726466,7310304587364460692.1640261783.1640261783,2021-12-23,904927.0,40,event,NaN,sberauto.com/cars/all/mercedes-benz/gla-klasse...,quiz,quiz_show,NaN,NaN
15726467,8013702685784312179.1640270195.1640270195,2021-12-23,2172865.0,43,event,NaN,sberauto.com/cars/all/toyota/alphard/2ebe4871?...,quiz,quiz_show,NaN,NaN
15726468,8021505554734405918.1640257821.1640257821,2021-12-23,713325.0,45,event,NaN,sberauto.com/cars/all/bmw/x3/6a660f0a?rental_p...,quiz,quiz_show,NaN,NaN
15726469,1569014437485249865.1640269129.1640269129,2021-12-23,742820.0,46,event,NaN,sberauto.com/cars/all/bmw/7-serii/399ac530?utm...,quiz,quiz_show,NaN,NaN

In [13]:
hits_df.shape

(15726470, 11)

In [14]:
hits_df.columns

Index(['session_id', 'hit_date', 'hit_time', 'hit_number', 'hit_type',
       'hit_referer', 'hit_page_path', 'event_category', 'event_action',
       'event_label', 'event_value'],
      dtype='object')

In [15]:
hits_df.describe(include='all')

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
count,15726470,15726470,6.566148e+06,1.572647e+07,15726470,9451666,15726470,15726470,15726470,11966286,0.0
unique,1734610,226,NaN,NaN,1,37873,342715,52,230,39825,NaN
top,5442565791571325612.1632449195.1632449195,2021-05-24,NaN,NaN,event,HbolMJUevblAbkHClEQa,podpiska.sberauto.com/,card_web,view_card,KclpemfoHstknWHFiLit,NaN
freq,768,513035,NaN,NaN,15726470,8879187,2793639,7456998,3558985,6505447,NaN
mean,NaN,NaN,2.091050e+05,2.356715e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,4.032110e+05,2.887713e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2.412000e+04,7.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,8.994100e+04,1.500000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2.195352e+05,2.900000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,1.315688e+07,5.000000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
hits_df.dtypes

session_id         object
hit_date           object
hit_time          float64
hit_number          int64
hit_type           object
hit_referer        object
hit_page_path      object
event_category     object
event_action       object
event_label        object
event_value       float64
dtype: object

 ## Объединяем данные

In [29]:
merged_df = sessions_df.merge(hits_df, how='inner', on='session_id')
merged_df

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust,2021-11-24,3665.0,3,event,NaN,podpiska.sberauto.com/,sub_page_view,sub_landing,NaN,NaN
1,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust,2021-11-24,46592.0,4,event,NaN,podpiska.sberauto.com/,sub_button_click,sub_view_cars_click,vodKSlUobUWTVlgsJqdI,NaN
2,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow,2021-11-14,921.0,3,event,NaN,podpiska.sberauto.com/,sub_page_view,sub_landing,NaN,NaN
3,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk,2021-12-28,84155.0,10,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,search_form,search_form_region,KWTCzSIXzoqUWjfUQMgP,NaN
4,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk,2021-12-28,102979.0,13,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,search_form,search_form_region,CBqnBQaKoQUyWJhLcxxN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15685214,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,33010.0,11,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN
15685215,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,34694.0,16,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_new_card,NaN,NaN
15685216,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,250.0,3,event,NaN,sberauto.com/cars/all/mercedes-benz/e-klasse/d...,card_web,view_card,NaN,NaN
15685217,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,33533.0,14,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN
15685218,9055430416266113553.1640968742.1640968742,2108381692.164097,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow,2021-12-31,34694.0,17,event,NaN,sberauto.com/cars/all/bmw/3-serii/bde2c9d5?utm...,card_web,view_card,NaN,NaN

## Очистка данных

In [26]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15685219 entries, 0 to 15685218
Data columns (total 28 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_source                object
 6   utm_medium                object
 7   utm_campaign              object
 8   utm_adcontent             object
 9   utm_keyword               object
 10  device_category           object
 11  device_os                 object
 12  device_brand              object
 13  device_model              object
 14  device_screen_resolution  object
 15  device_browser            object
 16  geo_country               object
 17  geo_city                  object
 18  hit_date                  object
 19  hit_time                  float64
 20  hit_number                int64
 21  hit_type                  object
 22  hit_referer               object
 23  hit_page_path             object
 24  event_category            object
 25  event_action              object
 26  event_label               object
 27  event_value               float64
dtypes: float64(2), int64(2), object(24)
memory usage: 3.4+ GB

In [51]:
skipped_values_in_percents = ((merged_df.isna().sum() / len(merged_df)) * 100).sort_values()
skipped_values_in_percents[skipped_values_in_percents > 0.0]

utm_source        0.004463
utm_campaign     14.018759
utm_adcontent    18.057880
event_label      23.765572
device_brand     25.156646
hit_referer      39.753975
device_os        58.388614
hit_time         58.400224
utm_keyword      58.684721
dtype: float64

In [33]:
merged_df=merged_df.drop(['event_value', 'device_model','utm_keyword'], axis=1)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15685219 entries, 0 to 15685218
Data columns (total 26 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_source                object
 6   utm_medium                object
 7   utm_campaign              object
 8   utm_adcontent             object
 9   utm_keyword               object
 10  device_category           object
 11  device_os                 object
 12  device_brand              object
 13  device_screen_resolution  object
 14  device_browser            object
 15  geo_country               object
 16  geo_city                  object
 17  hit_date                  object
 18  hit_time                  float64
 19  hit_number                int64
 20  hit_type                  object
 21  hit_referer               object
 22  hit_page_path             object
 23  event_category            object
 24  event_action              object
 25  event_label               object
dtypes: float64(1), int64(2), object(23)
memory usage: 3.2+ GB

In [35]:
merged_df['utm_keyword'].value_counts()

puhZPIYqKXeFPaUviSjo    4717082
aXQzDWsJuGXeBXexNHjc     176453
ITfrGJNwVsHBGJMAKoct     138328
UKNBOHebRIIsQRsjNKay     132629
hAmNSZmQkKQKAjZEGlgb      95962
                         ...
pbDudNzVMOgnBNGCXLTy          1
aPqwsNrUDOqqlOPbgStP          1
AWuRIdQALexokAiMRaos          1
MXqmDyetMTICSSitTjWV          1
fcXWTQaKfxbkBkBnzLhK          1
Name: utm_keyword, Length: 1192, dtype: int64

In [44]:
for column in merged_df.columns.tolist():
    display(f'column ----------------------- {column}')
    display(f'unique num: {merged_df[column].nunique()}')
    display(merged_df[column].value_counts())

'column ----------------------- session_id'

'unique num: 1732266'

5442565791571325612.1632449195.1632449195    768
6568868914238486437.1632270313.1632270313    678
5959671972744778783.1632490527.1632490600    548
7452598043578978502.1632358598.1632358598    514
3070792010704358528.1629752408.1629752408    498
                                            ...
7013704239071215699.1635631187.1635631187      1
7013727461964093035.1640339052.1640339052      1
3910664331348184547.1640795619.1640795619      1
7013737473524713191.1632192232.1632192232      1
4908893298772738727.1638898108.1638898108      1
Name: session_id, Length: 1732266, dtype: int64

'column ----------------------- client_id'

'unique num: 1320702'

1.750498e+09    6871
7.368596e+08    5872
1.485840e+09    3641
1.216285e+09    3393
1.063501e+08    2753
                ...
9.523673e+08       1
9.523733e+08       1
9.523746e+08       1
1.676093e+09       1
1.142711e+09       1
Name: client_id, Length: 1320702, dtype: int64

'column ----------------------- visit_date'

'unique num: 226'

2021-05-24    513035
2021-12-21    279622
2021-05-25    235805
2021-09-23    167122
2021-05-26    158381
               ...
2021-07-24     23488
2021-05-23     18771
2021-05-19     14605
2021-05-22     13917
2021-05-21     13497
Name: visit_date, Length: 226, dtype: int64

'column ----------------------- visit_time'

'unique num: 85032'

13:00:00    544567
12:00:00    538417
14:00:00    536830
16:00:00    528814
11:00:00    524413
             ...
05:49:08         1
03:24:12         1
02:45:36         1
02:32:26         1
03:19:24         1
Name: visit_time, Length: 85032, dtype: int64

'column ----------------------- visit_number'

'unique num: 533'

1      11580346
2       2035448
3        651357
4        375474
5        198832
         ...
413           1
409           1
408           1
372           1
564           1
Name: visit_number, Length: 533, dtype: int64

'column ----------------------- utm_source'

'unique num: 280'

ZpYIoDJMcFzVoPFsHGJL    5151702
fDLlAcSmythWSCVMvqvL    3250926
kjsLglQLzykiRbcDiGcD    1772431
bByPQxmDaMXgpHeypKSM    1341803
BHcvLfOaCWvWTykYqHVe    1231071
                         ...
WRHPhoRKhKxaenRCLBfo          1
dIOSwfBKYOHWMhxrecPD          1
SHJiZmjiDXmvjHwbFkEu          1
JdKLSdewxFqMMgKKiXBO          1
XGOsamgBesNClOIokPJY          1
Name: utm_source, Length: 280, dtype: int64

'column ----------------------- utm_medium'

'unique num: 55'

banner               4898563
cpc                  3300503
(none)               3250926
referral             1920459
cpm                   738765
organic               646182
push                  252864
email                 241084
stories                95604
blogger_channel        87087
smartbanner            49146
tg                     33822
blogger_stories        33068
cpa                    31586
cpv                    27395
post                   21531
outlook                14702
smm                    12388
clicks                  8988
(not set)               4555
app                     3806
info_text               3401
blogger_header          2888
sms                     2051
landing                 1069
partner                  582
CPM                      412
link                     372
yandex_cpc               247
vk_smm                   211
medium                   153
static                   132
google_cpc               127
cbaafe                   110
fb_smm                    90
article                   86
nkp                       49
web_polka                 46
ok_smm                    36
social                    35
main_polka                22
sber_app                  20
landing_interests         12
qrcodevideo                8
users_msk                  7
catalogue                  5
dom_click                  5
last                       4
promo_sber                 4
reach                      3
linktest                   3
promo_sbol                 2
tablet                     1
Sbol_catalog               1
qr                         1
Name: utm_medium, dtype: int64

'column ----------------------- utm_campaign'

'unique num: 406'

LTuZkdKfxRGVceoWkVyg    5166521
LEoPHuyFvzoNfnzGgfcd    3177265
gecBYcKZCPMcVYdSSzKP    1138547
FTjNLDyTrXaWYgZymFkV     750959
sbJRYgVfvcnqKJNDDYIr     184020
                         ...
VbwhIlTuTQfiffXsGgWV          1
ZHCJROlbqnkXTqIuVxnm          1
NUYvxgBEIYqMlnpeDTIM          1
RkpOyeEPgcMBSDuHLQcj          1
cXxuwXPoQCvAXPHpFcZl          1
Name: utm_campaign, Length: 406, dtype: int64

'column ----------------------- utm_adcontent'

'unique num: 280'

JNHcPlZPxEMWDnRiyoBf    9647665
vCIpmpaGBnIQhyYNkXqp    1806637
xhoenQgDQsgfEPYNPwKO     345071
PkybGvWbaqORmxjNunqZ     199457
LLfCasrxQzJIyuldcuWy     176169
                         ...
gQEnaeQmOHisHSTEyzhp          1
vXARZToVDdvNhALiQtvl          1
fiImkyBmzQSeAeQEVCDZ          1
FsyvyvqcdOnQCoOklwfT          1
fBRoTJlPSQvdkRoAJkVN          1
Name: utm_adcontent, Length: 280, dtype: int64

'column ----------------------- utm_keyword'

'unique num: 1192'

puhZPIYqKXeFPaUviSjo    4717082
aXQzDWsJuGXeBXexNHjc     176453
ITfrGJNwVsHBGJMAKoct     138328
UKNBOHebRIIsQRsjNKay     132629
hAmNSZmQkKQKAjZEGlgb      95962
                         ...
pbDudNzVMOgnBNGCXLTy          1
aPqwsNrUDOqqlOPbgStP          1
AWuRIdQALexokAiMRaos          1
MXqmDyetMTICSSitTjWV          1
fcXWTQaKfxbkBkBnzLhK          1
Name: utm_keyword, Length: 1192, dtype: int64

'column ----------------------- device_category'

'unique num: 3'

mobile     11595541
desktop     3945254
tablet       144424
Name: device_category, dtype: int64

'column ----------------------- device_os'

'unique num: 13'

Android          3433515
iOS              1735956
Windows          1015524
Macintosh         309734
Linux              30932
(not set)            448
Chrome OS            360
BlackBerry           211
Tizen                 99
Firefox OS            37
Nokia                 12
Windows Phone          7
Samsung                2
Name: device_os, dtype: int64

'column ----------------------- device_brand'

'unique num: 200'

Apple        4708652
Samsung      2609769
Xiaomi       2071248
Huawei       1370025
Realme        142883
              ...
Smartfren          1
Vodafone           1
Hafury             1
Honeywell          1
Maxvi              1
Name: device_brand, Length: 200, dtype: int64

'column ----------------------- device_screen_resolution'

'unique num: 4947'

414x896      1480233
1920x1080    1392794
375x812      1036649
393x851       905513
375x667       752332
              ...
1438x707           1
1920x1097          1
424x954            1
576x1249           1
444x961            1
Name: device_screen_resolution, Length: 4947, dtype: int64

'column ----------------------- device_browser'

'unique num: 55'

Chrome                              8197216
Safari                              4205045
YaBrowser                           1315515
Safari (in-app)                      639699
Android Webview                      458074
Samsung Internet                     262441
Firefox                              206891
Opera                                197007
Edge                                 194101
UC Browser                             5201
Mozilla Compatible Agent                710
Android Runtime                         652
[FBAN                                   558
Instagram 208.0.0.32.135 Android        363
MRCHROME                                361
Instagram 209.0.0.21.119 Android        240
Puffin                                  225
com.vk.vkclient                         115
Maxthon                                 109
Mozilla                                 105
Android Browser                          76
Internet Explorer                        75
(not set)                                65
Opera Mini                               59
helloworld                               52
Amazon Silk                              33
Coc Coc                                  22
Android                                  19
SeaMonkey                                19
Instagram 202.0.0.23.119                 18
Instagram 207.0.0.28.118                 16
Instagram 194.0.0.36.172 Android         14
Instagram 208.0.0.26.131                 12
Instagram 216.1.0.21.137 Android         12
Instagram 216.0.0.12.135                 12
Instagram 202.0.0.37.123 Android         12
MyApp                                    11
Instagram 192.0.0.37.119                  6
Nokia501                                  6
Instagram 203.0.0.26.117                  6
NokiaX2-02                                6
Instagram 212.0.0.38.119 Android          6
Instagram 201.0.0.23.111                  5
Konqueror                                 4
Instagram 213.0.0.29.120 Android          4
Instagram 192.0.0.35.123 Android          3
Instagram 158.0.0.30.123 Android          3
Instagram 213.0.0.19.117                  3
Iron                                      3
Instagram 199.0.0.27.120                  2
NetFront                                  2
Instagram 199.1.0.34.119 Android          2
MT6735_TD                                 1
com.zhiliaoapp.musically                  1
Threads 202.0.0.23.119                    1
Name: device_browser, dtype: int64

'column ----------------------- geo_country'

'unique num: 159'

Russia                 15270908
Ukraine                   76283
United States             34389
Belarus                   29799
Germany                   25116
                         ...
Congo - Brazzaville           2
Barbados                      1
Paraguay                      1
Puerto Rico                   1
Cameroon                      1
Name: geo_country, Length: 159, dtype: int64

'column ----------------------- geo_city'

'unique num: 2389'

Moscow                    6795118
Saint Petersburg          2365520
(not set)                  596279
Yekaterinburg              328301
Krasnodar                  293501
                           ...
Mosonmagyarovar                 1
Kobelyaky                       1
Ridgefield Park                 1
Zhashkiv                        1
Bad Neuenahr-Ahrweiler          1
Name: geo_city, Length: 2389, dtype: int64

'column ----------------------- hit_date'

'unique num: 226'

2021-05-24    513035
2021-12-21    279622
2021-05-25    235805
2021-09-23    167122
2021-05-26    158381
               ...
2021-07-24     23488
2021-05-23     18771
2021-05-19     14605
2021-05-22     13917
2021-05-21     13497
Name: hit_date, Length: 226, dtype: int64

'column ----------------------- hit_time'

'unique num: 914611'

0.0          40799
1.0          18471
2.0          10074
3.0           6043
4.0           4460
             ...
933947.0         1
483523.0         1
1023246.0        1
1135371.0        1
679353.0         1
Name: hit_time, Length: 914611, dtype: int64

'column ----------------------- hit_number'

'unique num: 500'

3      1096362
4       927237
7       666552
8       571015
9       547454
        ...
479         41
497         40
494         40
462         39
486         39
Name: hit_number, Length: 500, dtype: int64

'column ----------------------- hit_type'

'unique num: 1'

event    15685219
Name: hit_type, dtype: int64

'column ----------------------- hit_referer'

'unique num: 37826'

HbolMJUevblAbkHClEQa    8879128
FwdMTcXzWAwhtsnMAbhS      91293
sAGDBCdeVPmQPwkVEcIX      53559
GQmOLxANuSeCxCanBpMl      35470
ZeRnFrHdnMmnqraghdGJ      22992
                         ...
SKrCAVFdldNiYqrkxxLt          1
DpQALfPbDcfzqAAEHkyq          1
mmYNGuZGaNPWyBfmpsbF          1
hgrgXynTTzECdtEEJTed          1
OfHBuerAJtSXInkjtmrK          1
Name: hit_referer, Length: 37826, dtype: int64

'column ----------------------- hit_page_path'

'unique num: 342242'

podpiska.sberauto.com/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                2790578
sberauto.com/cars?city=1&rental_page=rental_only&rental_car=rental_only&city=18                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1103282
sberauto.com/cars?utm_source_initial=sbol&utm_medium_initial=banner&utm_campaign_initial=LEoPHuyFvzoNfnzGgfcd&utm_content_initial=vCIpmpaGBnIQhyYNkXqp&city=1&rental_page=rental_only&rental_car=rental_only&city=18                                                                                                                                                                                                                                                                                                                                                                                   754215
sberauto.com/cars/f28947a1?rental_page=rental_car                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      264878
sberauto.com/cars/bf24b977?rental_page=rental_car                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      263966
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
podpiska.sberauto.com/?yclid=6484627933086875647                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
sberauto.com/sankt-peterburg/cars?isnew=false&rental_car=rental_only&utm_source_initial=sbol&utm_medium_initial=banner&utm_campaign_initial=LEoPHuyFvzoNfnzGgfcd&utm_content_initial=vCIpmpaGBnIQhyYNkXqp&rental_page=rental_only&page=3                                                                                                                                                                                                                                                                                                                                                                    1
sberauto.com/cars?utm_source_initial=google&utm_medium_initial=cpc&utm_campaign_initial=RoDitORHdzGfGhNCyEMy|VZxaKViwZIbyAQCieciI&utm_content_initial=yXzSAJWSuRbYeLFyMVFl|qxTZeubOgnlhOavdRrsD|xAEYTlJDbQNwQTLGxICQ|XWFAjbbiePkXXxdJuUDP|lFpAoUqEvHoyZfCNRuCR|toAyGfPfeYenaeQUHrzX|dtYJKUplNmmKCOfiziff|sSJzFYFuIjkExlLfXOdE|aHSPdWXGkJravzWuwcJA|HbolMJUevblAbkHClEQa|kqZPVvZmXADsCZxIQwbv|QaGunexmXrztCWbLcYxs|OfdDOXSwHYclonQJpPxh|vqbaMIZaYiXbuzPpgjWE|HbolMJUevblAbkHClEQa&utm_term_initial=&city=1&rental_page=rental_only&rental_car=rental_only&city=18                                            1
podpiska.sberauto.com/?yclid=3674214408032139314                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
sberauto.com/cars/toyota?city=1&city=18&rental_car=rental_only&utm_source_initial=yandex&utm_medium_initial=cpc&utm_campaign_initial=nSReTmyFtbSjlPrTKoaX|fVHJqnfOFSWcsCBViJGr&utm_content_initial=yXzSAJWSuRbYeLFyMVFl|YjagTPsykUtMSrHgFPJc|xAEYTlJDbQNwQTLGxICQ|dwfnIkMEwJhmnyojmAoc|lFpAoUqEvHoyZfCNRuCR|nCFNEpzHTPkEkHrVLCIO|rjbbNGNkjGThUJNtsWZQ|ddAKKJpuifTlvemrMIAS|ZIKCVYXYgRrZdwlVkEEf|HbolMJUevblAbkHClEQa|kqZPVvZmXADsCZxIQwbv|vnTlRpYmthtVDImMLSmr|OfdDOXSwHYclonQJpPxh|YhdYMAYSoTzDKQYzVVMr|HbolMJUevblAbkHClEQa&utm_term_initial=lVHkqXlZapieOXCrCJWG&rental_page=rental_only&page=1          1
Name: hit_page_path, Length: 342242, dtype: int64

'column ----------------------- event_category'

'unique num: 52'

card_web                         7431798
search_form                      2420600
sub_page_view                    1984307
sub_button_click                 1070544
listing_ads                      1038862
cars                              358161
sap_search_form                   356557
quiz                              262922
sap_search__form                  188060
auth                              186442
jivosite                           88443
chat                               84749
ad_banner                          40008
offers                             31079
navigation                         26471
footer                             20288
sub_submit                         17987
greenday_sub_button_click          15411
main_banners                       13810
profile_menu                       13502
scrolling_main_page                12134
active_invitation                   8476
header                              3523
my_idea                             2317
greenday_listing_ads                1789
main_services                       1464
phone                               1210
category_tile                        924
greenday_gtm.triggergroup            753
add_ad                               744
greenday_sub_submit                  728
credit_landing_pos                   274
add_ad_additional_information        122
main_advantages                      100
add_ad_vin                            88
pos_landing                           67
add_ad_publish_success                65
add_ad_options                        62
add_ad_city                           59
add_ad_photo                          55
add_ad_price                          53
add_ad_preview                        49
add_ad_description                    48
add_ad_documents                      46
credit_buttons                        27
wallet                                15
tesla                                 10
greenday_sub_page_view                 5
add_ad_form                            4
greenday_card_web                      4
app_banner                             2
titul_form                             1
Name: event_category, dtype: int64

'column ----------------------- event_action'

'unique num: 230'

view_card                     3546622
view_new_card                 3539687
sub_landing                   1796528
go_to_car_card                 972151
sub_view_cars_click            791042
                               ...
backward_to_city                    1
backward_to_options                 1
continue in social                  1
survey_buy_after_sell_when          1
click_on_android                    1
Name: event_action, Length: 230, dtype: int64

'column ----------------------- event_label'

'unique num: 39777'

KclpemfoHstknWHFiLit    6505347
hAHqGICPFQiPwtzubOzs    1282471
OHfyUfDKdPgBdvelDlfG     626250
pzAKUYdRKNEUXxxBFUPX     358161
ghOrjqpgskpGHSFfBBsi     341843
                         ...
LbFJgNlmcIVEIDOREfOR          1
beHQQgixhtOTmJWmIoPG          1
NdoUPlCruduKdjOcuvOj          1
rUdjkWCVjDCiojCqExgI          1
uBAcRvfHRdEGIhzGdXvK          1
Name: event_label, Length: 39777, dtype: int64